# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# local testing / build helpers

test-infra/
build_all.sh

# fabric

run/
neoforge/gradle/
neoforge/gradlew*
forge/build/
neoforge/build/
forge/.gradle/
neoforge/.gradle/
neoforge/build/
